<html>
  <head>
    <title>Times before</title>
    <link rel="stylesheet" type="text/css" href="index.css">
          <meta charset="utf-8">
  </head>
<body>
  <h1> <%= @time_ago %> </h1>
</body>
</html>